html, body, #content-container {
  height: 100%;
  margin: 0;
}

body {
  background-color: #1c1c1e;
}



#sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  z-index: 1;
  padding-top: 100px;
  background-color: #202022;
  border-right: 1px solid #2c2c2e;
  transition: 0.5s;
}

#sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  color: #e5e5ea;
  display: block;
  transition: 0.3s;
}

#sidenav-toggle {
  position: absolute;
  top: 12px;
  left: 100%;
  margin-left: 4px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  cursor: pointer;
  color: #636366;
  border: 0;
  background: none;
  display: inline;
  padding: 0;
  font-size: 22px;
}

#sidenav-toggle:hover {
  color: #3d84cc;
}



#content-container {
  display: flex;
  flex-flow: column nowrap;
  transition: margin-left .5s;
}


#heading {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
  color: #f2f2f7;
  text-align: center;
  font-family: 'Verdana', sans-serif;
  font-size: 36px;
}


#canvas {
  flex-grow: 1;
  min-height: 0;
}
svg {
  width: 100%;
  height: 100%;
}


#buttons-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
}

.button {
  margin-left: 8px;
  margin-right: 8px;
  height: 42px;
  width: 56px;
  border: 0;
  border-radius: 5px;
  background-color: #636366;
}

.button-icon {
  height: 26px;
  width: 26px;
  padding-top: 3px;
}

.button-icon-right {
  padding-left: 3px;
}

.button-icon-left {
  padding-right: 3px;
}



/* .label {
  font-family: 'Arial';
  font-size: 40;
  text-anchor: 'middle';
  alignment-baseline: "middle";
} */